version: 2
updates:
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "/crd" # Location of package manifests
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/frontend" # Location of package manifests
    schedule:
      interval: "weekly"
